<launch>
    <arg name="teleop" default="True" />
    <arg name="Gazebo" default="True" />
    <arg name="slam_toolbox" default="True" />

    <!-- Teleoperation node for controlling Turtlebot3 (renamed and updated) -->
    <group if="$(arg teleop)">
        <node pkg="turtlebot3_teleop" type="turtlebot3_teleop_key" name="navbot3_teleop_keyboard" output="screen"></node>
    </group>

    <!-- SLAM Toolbox node for online synchronous SLAM -->
    <group if="$(arg slam_toolbox)">
        <node pkg="slam_toolbox" type="sync_slam_toolbox_node" name="navbot3_slam_toolbox" output="screen">
            <rosparam command="load" file="$(find slam_toolbox)/config/mapper_params_online_sync.yaml" />
        </node>
    </group>

    <!-- Gazebo simulator for Turtlebot3 -->
    <group if="$(arg Gazebo)">
        <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_house.launch" />
    </group>

    <!-- Navigation stack launch -->
    <include file="$(find turtlebot3_navigation)/launch/turtlebot3_navigation.launch" />
</launch>

